<ol class="breadcrumb">
    <li><a href="#">Admin</a></li>
    <li class="active">Users</li>
</ol>
<h1>
    Users <a href="<%= route %>/admin/user/create" class="btn btn-primary pull-right">Create user</a>
</h1>

<table class="table table-striped users">
    <thead>
        <tr>
            <td>Username</td>
            <td>Name</td>
            <td>E-mail</td>
            <td>Role</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
    <%
        for(var i =0; i< users.length; i++){
    %>
        <tr>
            <td><%= users[i].user %></td>
            <td><%= users[i].name %></td>
            <td><%= users[i].email %></td>
            <td><%= (users[i].isAdmin) ? 'Admin' : 'User' %></td>
            <td><a href="<%= route %>/admin/user/edit/<%= users[i]._id %>"><i class="fa fa-pencil" title="Edit"></i></a> <a class="del" data-user="<%= users[i]._id %>" data-action="delete"><i class="fa fa-trash" title="Delete"></i></a> <a class="ban" data-user="<%= users[i]._id %>" <%= (users[i].status == 2) ? 'data-action=unban title=Unban' : 'data-action=ban title=Ban' %> ><i class="fa fa-ban"></i></a></td>
        </tr>
    <%
        }
    %>
    </tbody>
</table>

<script>
    $(document).ready(function(){
        $('.ban, .del').click(function(){
            var el = $(this)
            var userId = el.attr('data-user');
            var action = el.attr('data-action');
            $.post('<%= route %>/admin/user/'+ userId +'/'+action,function(r){

            });
        });
    })
</script>